* {
  padding: 0;
}
.gamepage {
  display: flex;
  flex-direction: column;
}
.game-score {
  height: 80px;
  background-color: #2c0e3a;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
}
.game-score > ul {
  display: flex;
  list-style: none;
  gap: 4px;
  align-items: center;
  color: #ffffff;
}
.game-score > ul > img {
  width: 40px;
}
.game-board {
  padding: 10px 0 0 0;
  min-height: calc(100vh - 80px);
  height: auto;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  display: flex;
  flex-direction: column;
  align-items: center;
}

.puzzle-image {
  width: 400px;
  object-fit: contain;
}
.fruit-list,
.images {
  list-style: none;
}
.images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.fruit-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.website-logo {
  object-fit: contain;
  width: 100px;
}
/* Add this to your CSS file or component style */
.game-over {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px; /* Increased padding */
  background-color: #cf60c8;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.game-over img {
  width: 250px;
}

.score-retry {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.game-over button {
  background-color: #2c0e3a;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.game-over button img {
  width: 20px;
  margin-bottom: 0;
  object-fit: contain;
}

.game-over p {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}
